@CHARSET "UTF-8";

.rankbar .level {
    display: inline-block;
    width: 200px;
    overflow: hidden;
    text-align: right;
    margin-left: -5px;
}

.rankbar .level-point {
    margin-right: 20px;
}

.rankbar .img1 img {
    width: 20px;
    margin-right: 14px;
}

.rankbar .fillbackground {
    z-index: -1;
    width: 200px;
    height: 8px;
    background-color: #cccccc;
}

.rankbar .percent {
    z-index: -1;
    height: 8px;
    margin-top: 0;
    margin-left: 0;
    background: #51adf2;
    background-size: 60px 30px;
}

.rankbar .level_icon {
    position: absolute;
    margin-top: -28px;
    margin-left: 176px;
}