<!-- Add you custom twig html here -->

<div class="rankbar">

{% for level in levels %}

   {% set width = 0  %}

   {% if current.points > level.points %}
   {% set width = 100 %}
   {% endif %}
   
   {% if current.next == level.id  %}
   {% set width = current.percentage %}
   {% endif %}
   
   <div class="level level-{{ level.id }}" x-data-points="{{ level.points }}" x-data-level="{{ level.name }}">
            <div class="level_icon">
                <div class="level-name">{{ level.name }}</div>
                <div class="img1">
                    <img src="{{ current.module_path }}/assets/img/star.svg" alt="">
                </div>
                <div class="level-point ">
                     {{ level.points }}
                </div>
            </div>
            <div class="fillbackground">
                <div class="percent" style="width:{{ width }}%"></div>
            </div>
    </div>
 {% endfor %}

  <div class="desc">
    {% trans %}
     You have {{ current.points }} point.
    {% plural current.points %}
     You have {{ current.points }} points.
    {% endtrans %}
  </div>

</div>